.backdrop{
    box-sizing: border-box;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);  
}

.modal{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 30;
    position: fixed;
    top: 30%;
    left: 5%;
    border: 1px solid black;
    width: 90%;
    height: 35vh;
    background-color: brown;
    border-radius: 15px;

}

.modal form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.modal form div{
    display: grid;
    grid-template-columns: 30% 65%;
    grid-column-gap: 5%;
    width:100%;
    box-sizing: border-box;
    padding: 5px;
    color: black;

}

.updatebtn{
    width:auto;

}
@media screen and (min-width:720px)
{
    .modal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 30;
        position: fixed;
        top: 30%;
        left: 20%;
        border: 1px solid black;
        width: 60%;
        height: 35vh;
        background-color: brown;
        border-radius: 15px;
    
    }
    
    .modal form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 30vh;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
    }
}